[id^=adsr-conf].conf-window-wrap {
  display: grid;
  grid-template-areas:
    'graph'
    'body';
  grid-template-rows: 11rem auto;
  grid-row-gap: 1rem;
}

/* GRAPH */
[class^=adsr-conf-graph] {
  grid-area: graph;
  width: 100%;
  position: relative;
  /*background-color: green;*/
}

canvas.flotr-canvas,
canvas.flotr-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}


/* .flotr-grid-label {
  position: absolute;
} */

/* .flotr-grid-label-x {
  text-align: center;
  top: 8rem;
  width: 9.45rem;
} */

/* .flotr-grid-label-y {
  text-align: right;
  left: 0;
  width: 2.9rem;
} */

/* .flotr-dummy-div {
  font-size: smaller;
} */

/* .flotr-div {
  position: absolute;
  top: -10000px;
} */

/* .flotr-axis-title {
  font-weight: bold;
} */

/* .flotr-labels {
  font-size: smaller;
  color: var(--grey3);
} */

/* GRAPH END */

/* BODY */
.box-body[id^=adsr-conf] {
  grid-area: body;
}

.box-body[id^=adsr-conf] input {
  font-size: .9rem;
}

.box-body[id^=adsr-conf] input[data-digits='4'] {
  max-width: 3.65rem;
  padding-right: 1.1rem;
}

.box-body[id^=adsr-conf] input[data-digits='3'] {
  max-width: 3.2rem;
  padding-right: 1.1rem;
}

.box-body[id^=adsr-conf] .box-num-single {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-body[id^=adsr-conf] .box-num-single label {
  border: 1px solid var(--border);
  padding: .2rem;
  padding-inline: .5rem;
}

.box-body[id^=adsr-conf] span[class*=arrow] {
  background-position-x: -0.5rem;
  background-position-y: -7.3rem;
  width: 0.9rem;
  height: 0.9rem;
  top: 0.3rem;
}

.box-body[id^=adsr-conf] span.arrow-down {
  top: 1.4rem;
  background-position-y: -8.7rem;
}

/* BODY END */