@media only screen and (max-width: 821px) {
  [id^='adsr-body'] .toggle-wrap {
    width: 8rem;
  }

  [id^='adsr-body'] .slider {
    left: 2.1rem;
  }
  
  [id^='adsr-body'] .toggle-wrap input:checked + .slider-wrap .slider {
    transform: translateX(2.1rem);
  }
}
