[id^='adsr-conf'].conf-window-wrap {
  display: grid;
  grid-template-areas:
    'graph'
    'body';
  grid-template-rows: 9rem auto;
  grid-row-gap: 1rem;
}

[class^='adsr-conf-graph'] {
  grid-area: graph;
  /* width: 100%; */
  position: relative;
}

[id^='adsr-container'] {
  top: -2rem;
}

canvas.flotr-canvas,
canvas.flotr-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.box-body[id^='adsr-conf'] {
  grid-area: body;
  row-gap: 0;
  display: grid;
  grid-template-rows: repeat(2, 6.8rem);
}

.adsr-conf-body-params,
.adsr-conf-body-globals {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}

.box-body[id^='adsr-conf'] input {
  font-size: 0.9rem;
}

.box-body[id^='adsr-conf'] input[data-digits='4'] {
  max-width: 3.65rem;
  padding-right: 1.1rem;
}

.box-body[id^='adsr-conf'] input[data-digits='3'] {
  max-width: 3.2rem;
  padding-right: 1.1rem;
}

.box-body[id^='adsr-conf'] .box-num-single {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-body[id^='adsr-conf'] .box-num-single label {
  border: 1px solid var(--border);
  padding: 0.2rem;
  padding-inline: 0.5rem;
}

.box-body[id^='adsr-conf'] span[class*='arrow'] {
  background-position-x: -0.5rem;
  background-position-y: -7.3rem;
  width: 0.9rem;
  height: 0.9rem;
  top: 0.3rem;
}

.box-body[id^='adsr-conf'] span[class='arrow-back'] {
  top: 0.6rem;
}

.box-body[id^='adsr-conf'] span.arrow-down {
  top: 1.4rem;
  background-position-y: -8.7rem;
}

@media only screen and (max-width: 1200px) {
  .box-body[id^='adsr-conf'] {
    row-gap: 2rem;
  }

  [id^='adsr-conf'].conf-window-wrap {
    grid-template-columns: 23.5rem;
    grid-template-rows: 7rem;
    row-gap: 1rem;
  }

  [class^='adsr-conf-graph'] {
    height: 7.6rem;
  }

  [id^='adsr-container'] {
    top: -3rem;
  }

  .box-body .box-num-single[id^='adsr-conf-note'] {
    flex-direction: row;
  }

  .adsr-conf-body-globals {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 821px) {
  .box-body .adsr-conf-graph,
  .box-body[id^='adsr-conf'] {
    width: 27rem;
  }

  .box-body[id^='adsr-conf'] {
    grid-template-rows: repeat(2, 8rem);
  }

  .adsr-conf-body-params,
  .adsr-conf-body-globals {
    justify-content: space-between;
  }

  .box-body[id^='adsr-conf'] input {
    font-size: 1.2rem;
  }

  .box-body[id^='adsr-conf'] input[data-digits='3'] {
    min-width: 4.3rem;
  }

  .box-body[id^='adsr-conf'] [id^='adsr-conf-note-input'] {
    padding-block: 0.6rem;
  }
}
