@media only screen and (max-width: 821px) {
  [id^='gate-body'] .toggle-wrap {
    width: 9rem;
  }

  [id^='gate-body'] .slider {
    left: 2.5rem;
    top: 2.3rem;
  }
  
  [id^='gate-body'] .toggle-wrap input:checked + .slider-wrap .slider {
    transform: translateX(2.1rem);
  }
}

@media screen and (max-width:668px) {
  [id^='gate-body'] .slider {
    left: 1.4rem;
    top: 3.7rem;
  }  
}
