main[id^='note-body'] {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto;
  gap: 1rem;
  align-items: end;
}

[id^='note-bend']                            { grid-column: 1; grid-row: 1; }
[id^='note-glide-mode']                      { grid-column: 2; grid-row: 1; width: 100%; }
[id^='note-glide-time']                      { grid-column: 3; grid-row: 1; }
[id^='note-voice']                           { grid-column: 1; grid-row: 2; width: max-content; }
main[id^='note-body'] button[data-css='options'] { grid-column: 2; grid-row: 2; align-self: end; justify-self: center; }
[id^='note-priority']                        { grid-column: 3; grid-row: 2; min-width: 0; }
[id^='note-priority'] .box-selector-label    { max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

@media only screen and (max-width: 1181px) {
  main[id^='note-body'] {
    gap: 0.8rem;
  }
}

@media only screen and (max-width: 668px) {
  main[id^='note-body'] {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 3rem;
  }

  [id^='note-bend']                                { grid-column: 1; grid-row: 1; }
  [id^='note-glide-mode']                          { grid-column: 2; grid-row: 1; }
  [id^='note-glide-time']                          { grid-column: 1; grid-row: 2; }
  [id^='note-voice']                               { grid-column: 2; grid-row: 2; }
  main[id^='note-body'] button[data-css='options'] { grid-column: 1; grid-row: 3; align-self: end; }
  [id^='note-priority']                            { grid-column: 2; grid-row: 3; }

  main[id^='note-options-body'] {
    gap: 4rem;
  }
}

/*
*
* MIDI THINGIE
*
*/

.mt2 main[id^='note-body'] {
  gap: 0.8rem;
}
