[id^=osc-voice] {
  width: 100%;
}

@media only screen and (max-width: 821px) {
  [id^='osc-body'] .toggle-wrap input:checked + .slider-wrap .slider {
    transform: translateX(2rem);
  }

  [id^='osc-body'] .slider {
    top: 2.3rem;
    left: 2rem;
  }
}