.banner {
  display: grid;
  grid-template-columns: 12rem 21rem 2fr repeat(2, 5.5rem) repeat(2, 1fr) 12rem;
  grid-template-areas: 'container-left logo title . live device settings container-right';
  column-gap: 1rem;
  justify-items: start;
  align-items: center;
  background-color: var(--grey2);
  min-height: 9.5rem;
}

.banner-logo {
  fill: white;
  /* fill: red; */
  width: 100%;
  grid-area: logo;
}

.banner-logo-mob {
  fill: white;
  display: none;
}

.banner-title {
  grid-area: title;
  color: var(--off-white);
  font-size: 3.2rem;
  font-weight: bold;
  margin-top: 0.9rem;
}

.banner-subtitle {
  font-weight: normal;
  text-transform: none;
}

.live-button {
  grid-area: live;
}

.live-button svg {
  width: 4rem;
  margin-top: 7px;
  fill: #06b900;
  transition: fill ease-in 0.5s;
}

.banner-device-select {
  grid-area: device;
}

.banner-settings-select {
  grid-area: settings;
}

.banner .input-wrap {
  width: var(--banner-input-sz);
  position: relative;
}

.banner-device-select .selector-label,
.banner-settings-select .selector-label {
  text-indent: 3rem;
  padding: 0.6rem 0.4rem;
  font-size: 1.8rem;
}

.banner-device-select .selector-options {
  width: var(--banner-input-sz);
}

.banner .banner-settings-select,
.banner .banner-settings-select .selector-options {
  width: calc(var(--banner-input-sz) - 2.1rem);
}

.banner .selector-options {
  background: var(--list-bg);
  width: var(--banner-input-sz);
  border: 1px solid white;
  /* top: 3.4rem; */
  padding: 0.5rem 1rem 0;
}

/* arrows */
.banner-device-select .selector-label::after,
.banner-settings-select .selector-label::after {
  top: 1.8rem;
}

.banner .input-wrap li {
  border-bottom: 2px solid var(--border);
  padding-block: 0.5rem;
  text-indent: 0.6rem;
  font-size: 0.9em;
  color: var(--list-font);
}

.banner .input-wrap a {
  padding-block: 0.5rem;
  text-indent: 0.6rem;
  color: var(--list-font);
}

.banner .input-wrap li:last-of-type {
  border: none;
}

.banner .input-wrap li:hover,
.banner .input-wrap li:focus,
.banner .input-wrap a:hover,
.banner .input-wrap a:focus {
  color: white;
}

@media only screen and (max-width: 1200px) {
  .banner {
    grid-template-columns: 12rem 7rem 26rem 45rem 4rem 22.9rem 10rem 1fr;
    padding-block: 1.5rem;
  }

  .banner-logo-mob {
    display: block;
    width: 7rem;
  }

  .banner-logo-gen {
    display: none;
  }

  .banner-title {
    align-self: end;
    margin-bottom: -8px;
  }

  .banner-subtitle {
    display: none;
  }

  .banner-device-select .selector-label,
  .banner-settings-select .selector-label {
    text-indent: 0;
    padding-inline: 1rem;
    padding-top: 0.9rem;
  }

  #banner-device-selector-wrap {
    width: 67%;
  }

  #banner-settings-select-wrap {
    width: 100%;
  }

  .banner-settings-select label {
    background-color: green;
    text-indent: -99999px !important;
    background: url(../assets/sprites.svg);
    background-position-y: -31.1rem;
    background-position-x: -0.8rem;
    background-size: 59.5rem;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 1200px) {
  .banner {
    grid-template-columns: 12rem 7rem 26rem 7rem 4rem 22.9rem 10rem 1fr;
    padding-block: 1.5rem;
  }
  .banner-logo-mob {
    width: 6rem;
  }
}
