html {
  font-size: 10px;
  font-family: var(--main-font);
}

.hidden {
  display: none !important;
}

.round-sm {
  border-radius: 3px;
}

.round {
  border-radius: 6px;
}

.round-l {
  border-radius: 15px;
}

.round-xl {
  border-radius: 30px;
}

.block {
  display: block;
}

.inline {
  display: inline-block;
}

li.dark-font {
  color: #000 !important;
}

/**
Main tags
*/
body {
  background-color: var(--body-grey);
  font-size: 1.5rem;
  line-height: 1.5;
  padding-bottom: 7rem;
}

/**
Selectors
*/
.selector-label {
  background-color: var(--grey);
  border: 1px solid white;
  color: white;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 100%;
}

.selector-label::after {
  position: absolute;
  content: '';
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-top: 8px solid var(--dark-grey);
  right: 1.6rem;
  top: 1rem;
}

.selector-label.active::after {
  border-top: none;
  border-bottom: 8px solid var(--dark-grey);
  top: 0.5rem;
}

.selector-options {
  position: absolute;
  text-indent: 1.2rem;
  border: 1px solid white;
  z-index: 999;
  background-color: var(--dark-grey);
  width: 100%;
}

li[class*='selector-item'] {
  color: var(--list-white);
  padding-block: 0.2rem;
}

li[class*='selector-item']:hover,
li[class*='selector-item']:focus,
li[class*='selector-item']:active {
  color: var(--list-white);
}

label {
  position: relative;
}

/* Buttons */
button[type='button'],
button[type='submit'] {
  background: transparent;
  color: var(--off-white);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border: 2px solid var(--border);
  position: relative;
  cursor: pointer;
}

.box .back-button {
  padding-left: 2.3rem;
}

.box .for-button {
  padding-right: 2.3rem;
}

@media only screen and (max-width: 1181px) {
  html {
    font-size: 8px;
  }

  .box .for-button {
    font-size: 1.6rem;
    padding-right: 2.5rem;
  }

  .box .back-button {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 668px) {
  html {
    font-size: 4px;
  }

  body {
    font-size: 1.6rem;
  }

  .box .for-button,
  .box .back-button {
    font-size: 2.5rem;
    padding-block: 0.7rem;
  }

  .box .back-button {
    padding-left: 3.3rem;
  }

  .box .for-button {
    padding-right: 3.3rem;
  }
}
