.modal-wrap:not(.modal-wrap.hidden) {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(1, 1, 1, 0.6);
}

.modal {
  width: 40vw;
  background-color: var(--grey);
  padding: 5rem;
  opacity: 1;
  position: relative;
  -webkit-animation-name: fromTop;
  -webkit-animation-duration: .4s;
  animation-name: fromTop;
  animation-duration: .4s;
}

.modal-body {
  margin-top: 1.2rem;
  position: relative;
}

.modal-heading {
  font-weight: bold;
  font-size: 1.6rem;
}

.modal-h2 {
  margin-top: 2rem;
  font-size: 2rem;
  color: white;
}

.modal-par {
  color: white;
}

.modal-footer {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}
@-webkit-keyframes fromTop {
  from {
    top: -30rem;
    opacity: 0
    }
    
    to {
      top: 0;
      opacity: 1
    }
}

@keyframes fromTop {
  from {
    top: -30rem;
    opacity: 0
    }
    
    to {
      top: 0;
      opacity: 1
    }
}

.modal-logo svg {
  fill: white;
  width: 40%;
}

.modal div * {
  display: inline-block;
    margin-left: 1rem;
    padding: 1.1rem;
    border-radius: 10px;
}

.modal select {
  padding: 1.1rem;
    background: var(--label-title);
    border-radius: 10px;
    font-weight: bold;
    margin-top: 2rem;
  }
  
  .modal button {
    color: white;
}

@media only screen and (max-width: 668px) {
  .modal {
    width: 60vw;
  }
  
  .modal-heading {
    font-size: 1.7rem;
  }
  
  .modal-par {
    font-size: 1.5rem;
  }

  .modal-footer {
    font-size: 1.5rem;
  }
}