.box {
  --box-width: 26.5rem;
  --box-height: 26rem;
  --box-alt-width: 21.5rem;
  --box-alt-height: 21rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 4rem repeat(2, 1fr);
  grid-template-areas:
    'header header header header'
    'func func func func'
    'body body body body';
  row-gap: 0.8rem;
  justify-items: stretch;
  position: relative;
  color: var(--off-white);
  border: 5px solid var(--box-border);
  border-radius: 20px;
  width: var(--box-width);
  height: var(--box-height);
  padding: 1rem 0.8rem;
  background: linear-gradient(to top, #222222 63%, black);
}

.box-func-select {
  grid-area: func;
  height: 100%;
}

.box-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2rem;
  margin-top: 0.3rem;
  align-items: center;
}

.body-types-wrap {
  width: 23.5rem;
  /* padding: 0 0.5rem; */
}

.box-body label,
.box-body h3,
.conf-window-wrap label,
.conf-window-wrap h3 {
  color: var(--label-title);
  font-size: 1.2rem;
}

h3.inline,
label[class^='box-num'] {
  margin-right: 0.3rem;
}

.box-body .selector-options,
.conf-window-wrap .selector-options {
  text-indent: 0;
  position: absolute;
  max-width: 100%;
}

.box-body .selector-options .box-selector-item,
.conf-window-wrap .selector-options .box-selector-item {
  padding-inline: 1.2rem;
  font-size: 1.2rem;
}

.box-selector-label,
.voice-tag {
  background-color: var(--dropdown-label-bg);
}

.box-num-mult-label:not(.inline) {
  width: 100%;
}

.box-body .input-wrap,
.conf-window-wrap .input-wrap {
  position: relative;
}

.voice-tag,
.box-body .input-wrap .box-selector-label,
.conf-window-wrap .input-wrap .box-selector-label {
  padding: 0.4rem;
  padding-left: 0.7rem;
}

.input-wrap .box-selector-label::after {
  width: 1.8rem;
  height: 2.5rem;
  content: '';
  background: url(../../assets/sprites.svg) no-repeat 0rem 0rem;
  background-size: 18.4rem;
  position: absolute;
  top: 0;
  right: 0;
}

.input-wrap .box-selector-label.disabled::after {
  display: none;
}

.box-body .input-wrap .box-selector-label.active::after,
.conf-window-wrap .input-wrap .box-selector-label.active::after {
  background-position-y: -3.2rem;
}

.conf-window-wrap {
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  width: var(--box-width);
  height: var(--box-height);
  background: linear-gradient(to top, #222222 63%, black);
  border: 5px solid var(--box-border);
  border-radius: 20px;
  padding: 1rem;
  padding-block: 0.5rem;
}
[data-disabled='true'] label,
[data-disabled='true'] input,
[data-disabled='true'] h3 {
  color: var(--grey) !important;
}

@media only screen and (max-width: 1181px) {
  .box-body {
    row-gap: 1.25rem;
  }
}

@media only screen and (max-width: 821px) {
  .box {
    --box-width: 30rem;
    --box-height: 30rem;
  }

  .box-body label,
  .box-body h3,
  .conf-window-wrap label,
  .conf-window-wrap h3 {
    font-size: 1.4rem;
  }

  .body-types-wrap {
    width: 27.1rem;
    height: 7.2rem;
  }
  .box-body .input-wrap .box-selector-label::after {
    background-size: 20.8rem;
    height: 2.8rem;
  }
  .box-body .input-wrap .box-selector-label.active::after {
    background-position-y: -3.6rem;
  }

  .box-selector-label.active::after {
    background-position-y: -3.2rem;
  }
}

@media screen and (max-width: 668px) {
  .box {
    --box-width: 53rem;
    --box-height: 53rem;

    grid-template-rows: 1fr max-content repeat(2, 1fr);
  }

  .body-types-wrap {
    width: 47.5rem;
    height: max-content;
    padding-top: 1rem;
  }

  .box-body {
    padding-inline: 1rem;
    row-gap: 4rem;
  }

  .input-wrap .box-selector-label::after {
    width: 4.8rem;
    height: 6.4rem;
    background-size: 44.8rem;
    right: -0.3rem;
  }

  .box-body label,
  .box-body h3,
  .conf-window-wrap label,
  .conf-window-wrap h3 {
    font-size: 2.3rem;
  }

  .box-body .input-wrap .box-selector-label::after {
    background-size: 29.7rem;
    height: 4rem;
    top: 0;
    width: 2.8rem;
  }

  .box-body .input-wrap .box-selector-label.active::after {
    background-position-y: -5rem;
  }

  .box-body .selector-options .box-selector-item,
  .conf-window-wrap .selector-options .box-selector-item {
    font-size: 2rem;
  }

  .clip-title.inline {
    margin-right: 1rem;
  }
}

/* 
*
* MIDI THINGIE
*
*/

.mt2 .box {
  --box-width: 22rem;
  --box-height: 22rem;
  --box-alt-width: 21.5rem;
  --box-alt-height: 21rem;
  --box-int-width: calc(var(--box-width) - 2rem);
  width: var(--box-width);
  height: var(--box-height);
  row-gap: 0.5rem;
  grid-template-rows: 1fr 3.1rem repeat(2, 1fr);
}

.mt2 .body-types-wrap {
  width: var(--box-int-width);
}

.mt2 .box-body {
  width: var(--box-int-width);
  row-gap: .9rem;
}

.mt2 .box-body label,
.mt2 .box-body h3,
.mt2 .conf-window-wrap label,
.mt2 .conf-window-wrap h3 {
  font-size: 1.1rem;
}