/* general */
*[class*='-selector-options'] {
  position: absolute;
}

.box-selector-item {
  position: relative;
}

.box-selector-suboptions {
  position: absolute;
  left: 102%;
  background: var(--dark-grey);
  border: 1px solid;
  width: max-content;
  border-color: var(--border);
}

.box-suboptions-item {
  padding: 0.2rem;
  width: 100%;
  padding-right: 1.5rem;
}

.box-suboptions-item:hover,
.box-suboptions-item:active,
.box-suboptions-item:focus {
  background: black;
}

/* port colors */
.box-port-color-selector-options {
  top: 5.3rem;
  left: 0;
}

.box-port-color.selector-item {
  width: 7.3rem;
  height: 1.6rem;
}

.box-func-select-list {
  width: 90%;
  right: 1.1rem;
  border-color: var(--border);
}
.box-func-select-list .box-selector-item {
  padding-inline: 1rem;
  padding-block: 0.3rem;
}