.toggle-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 6rem;
}

.box-body label.toggle {
  width: 4.5rem;
  height: 2.2rem;
  display: inline-block;
  background: var(--grey2);
  font-size: 1rem;
}

.slider {
  position: absolute;
  top: 2rem;
  left: 1rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 10px;
  background: black;
  transition: all 0.4s linear;
  cursor: pointer;
}
.toggle-wrap input:checked + .slider-wrap .slider {
  transform: translateX(2.1rem);
  background-color: var(--green);
}

@media only screen and (max-width: 1181px) {
  .box-body label.toggle {
    height: 2.3rem;
  }
}

@media only screen and (max-width: 821px) {
  .toggle-wrap {
    width: 8rem;
  }

  .slider {
    top: 2.4rem;
    left: 1.8rem;
  }

  .toggle-wrap input:checked + .slider-wrap .slider {
    transform: translateX(2.3rem);
  }
}

@media only screen and (max-width: 668px) {
  .box-body label.toggle {
    height: 2.9rem;
    width: 7rem;
  }

  /* .toggle {
  } */

  .toggle-wrap {
    width: 8rem;
  }

  .slider {
    width: 2.5rem;
    height: 2.5rem;
    top: 3.7rem;
    left: 2.5rem;
  }

  .toggle-wrap input:checked + .slider-wrap .slider {
    transform: translateX(3.5rem);
  }
}

/* 
*
* MIDI THINGIE
*
*/

.mt2 .box-body label.toggle {
  width: 3.5rem;
  height: 1.6rem;
}

.mt2 .slider {
  top: 1.7rem;
  left: 1.4rem;
  width: 1.4rem;
  height: 1.4rem;
}

.mt2 .toggle-wrap input:checked + .slider-wrap .slider {
  transform: translateX(1.6rem);
}
